@import url(//fonts.googleapis.com/earlyaccess/phetsarath.css);
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
// @import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap');

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local("GoogleSans-Regular"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local("GoogleSans-Regular"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local("GoogleSans-Regular"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Bwp5MKg.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local("GoogleSans-Regular"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Google Sans Regular"), local("GoogleSans-Regular"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local("GoogleSans-Medium"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local("GoogleSans-Medium"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local("GoogleSans-Medium"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt8CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local("GoogleSans-Medium"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Google Sans Medium"), local("GoogleSans-Medium"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Google Sans Bold"), local("GoogleSans-Bold"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLV154t3CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Google Sans Bold"), local("GoogleSans-Bold"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLV154twCwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Google Sans Bold"), local("GoogleSans-Bold"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLV154t8CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Google Sans Bold"), local("GoogleSans-Bold"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLV154t9CwZ-Pw.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Google Sans Bold"), local("GoogleSans-Bold"),
    url(//fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLV154tzCwY.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Product Sans"), local("ProductSans-Regular"),
    url(//fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVGdeOcEg.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Product Sans"), local("ProductSans-Regular"),
    url(//fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Lao UI";
  src: url("../fonts/NotoSansLaoUI-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Noto Sans Lao UI, Roboto, Arial, sans-serif;
  color: #202124;
  /* color: #404040; */
  background-color: white;
}

/* .page_container {
    min-height: 75vh;
    padding-top: 64px;
  } */

.center_vertical_and_horizontal {
  /* position: absolute; */
  /* left: 50%;
       */
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, 0%);
  min-width: 350px;
  margin-bottom: 60px;
}

.progress {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
}

label {
  font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
}

span {
  font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
}

p {
  font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
}

#my-pdf {
  width: 100% !important;
  height: auto !important;
}

.research-card-title {
  max-lines: 2;
}

.MuiTypography-body1-78 {
  font-size: 1rem !important;
}
.MuiTypography-body1-81 {
  font-size: 1rem !important;
}

.genderLabel .MuiTypography-body1-78 {
  color: rgba(0, 0, 0, 0.54) !important;
}

#header {
  // border-bottom: 1px solid #dadce0;
  transition: all 0.15s linear;
  // border-bottom: solid;
  // border-width: 1px;
  // border-color: rgba(0, 0, 0, 0.12)
}

#header.active {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149) !important;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px !important;
}

// .mKShuf {
//   height: 15px;
//   overflow: hidden;
//   position: fixed;
//   width: 100%;
//   z-index: 1201;
//   top: 64px;
// }
// .RJy67e.clC1Jc .s0CmG {
//   box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
// }


.s0CmG {
  height: 15px;
  position: absolute;
  top: -15px;
  -webkit-transition: box-shadow .25s;
  transition: box-shadow .25s;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);

}

.pg-viewer {
  min-width: 0;
}

.AddResearch-valueContainer-203 {
  padding: 8px;
}
.AddResearch-input-526 {
  padding: 8px;
}

.AddResearch-input-202 {
  min-height: 54px;
}
textarea {
  font-family: "Noto Sans Lao UI", sans-serif !important;
}

canvas {
  width: 100% !important;
  height: auto !important;
}
/* 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12) */

.AddResearch-valueContainer-334 {
  padding: 14px;
}

//   @for $i from 1 through 50000 {
//     .MuiDrawer-paperAnchorDockedLeft-#{$i}{border:0!important;padding-right:16px;}
// }

$drawerWidth: 240px;
.main-side-bar {
  width: $drawerWidth;
  flex-shrink: 0;

  // 107
}

.main-side-bar * {
  background-color: red;
}

.MuiInputBase-input-128
  .MuiOutlinedInput-input-472
  .UpdateResearchArea-input-389 {
  padding: 8px;
}

.UpdateResearchArea-input-389 {
  padding: 8px !important;
}

.UpdateResearchArea-valueContainer-946 {
  padding: 8px !important;
}

//  .add-research-button {
//   box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149) !important;
//  }
.add-research-button:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
}
.add-research-button::before {
  transition: opacity 15ms linear, background-color 15ms linear !important;
}

//  .feed-research-title {
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: 3;
//   -webkit-box-orient: vertical;
//  }

.transparent {
  background-color: transparent;
}
.description-preview {
  display: -webkit-box;
  max-height: 8.1rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  -webkit-line-clamp: 6;
  font-size: 1rem;
  font-weight: 400;

  line-height: 1.4rem;
  margin-top: 4px;
  margin-left: 8px;
  color: rgb(102, 102, 102);
  overflow-wrap: anywhere;
}
.description-preview::after {
  content: "...";
}

.research-title {
  --lh: 1.8rem;
  line-height: var(--lh);
  display: -webkit-box;
  --max-lines: 2;
  max-height: calc(var(--lh) * var(--max-lines));
  // -webkit-box-orient: vertical;
  overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: pre-wrap;
  // -webkit-line-clamp: 2;
  font-size: 1.3rem;
  font-weight: 400;
  overflow-wrap: anywhere;
  font-weight: 600,
}

.research-title::after {
  content: "...";
  position: relative;
  // bottom: 0;
  // right: 0;
}

.research-title::after {
  content: "";
  position: absolute;
  right: 0; /* note: not using bottom */
  width: 1rem;
  height: 1rem;
  background: white;
}

.right-section-feed {
  height: fit-content;
  position: sticky;
  top: 3em;
}

.profile-image-preview {
  width: 100%;
  height: 400px;
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(230, 230, 230)
}
.profile-image-preview-uploading {
  height: 400px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 24px;
  border: 1px solid rgb(230, 230, 230)
}

.upload-icon {                          
  white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      font: 500 .875rem/1.125rem 'Google Sans',Roboto,Arial,sans-serif;
      color: inherit;
      display: inline-block;
      -webkit-tap-highlight-color: transparent;
      fill: currentColor
}

.create-new-add-file-container {
  margin-left: 240px
}

.loading {
  position: fixed;
  z-index: 1500;
  height: 100%;
  width: 100%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  text-align: center;
  vertical-align: middle;
  display:table-cell;
}

.loader {
	position: relative;
	top: 50%;
}

.small-publicity-icon {
  pointer-events: none;
  display: inline;
  width: 16px;
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.link-preview {
  max-width: 100% !important;
  border-radius: 8px
}

// .gsafkH {
//   display: none !important
// }

.dalJkl {
  color: rgb(83, 83, 83) !important
}

.link-preview-contianer {
  max-width: 100% !important;
  border-radius: 8px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e8ed;
  overflow: hidden;
  color: #181919;
  // font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  display: flex;
  text-decoration: none;
  opacity: 1;
  position: relative;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-property: background,border-color;
}

.link-preview-contianer-loading {
  max-width: 100% !important;
  border-radius: 8px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e8ed;
  overflow: hidden;
  color: #181919;
  // font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  display: flex;
  text-decoration: none;
  opacity: 1;
  position: relative;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transition-property: background,border-color;
}

.link-preview-contianer-loading:hover {
  background: transparent;
}

.link-preview-contianer:hover {
  background: #f4f8fa;
  cursor: pointer;
}

.link-icon {
  color: #181919;
// font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
background: transparent no-repeat center center / cover;
display: block;
overflow: hidden;
height: auto;
position: relative;
transition: flex-basis 0.25s ease-in-out;
flex: 0 0 140px;
// background-image: url('https://www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png');
}

.link-icon::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e1e8ed;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  z-index: 1;
}
.link-icon::before {
  content: '';
  padding-bottom: 100%;
  display: block;
}

.link-preview-content {
  color: #181919;
// font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
display: flex;
padding: 10px 15px;
min-width: 0;
box-sizing: border-box;
flex: 1;
justify-content: space-around;
flex-direction: column;
-webkit-box-align: stretch;
align-items: stretch;
}

.link-preview-header {
  display: block;
  text-align: left;
  font-weight: bold;
  margin: 0;
  width: 100%;
  -webkit-box-flex: 1.2;
  -webkit-flex-grow: 1.2;
  -ms-flex-positive: 1.2;
  flex-grow: 1.2;
  font-size: 16px;
}

.link-preview-description {
  // font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
color: #535353 !important;
text-align: left;
font-size: 14px;
-webkit-box-flex: 2;
flex-grow: 2;
margin: auto 0;
line-height: 18px;
}

.link-preview-footer {
  color: #181919;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: justify;
justify-content: space-between;
text-align: left;
margin: 0;
-webkit-box-flex: 0;
flex-grow: 0;
font-size: 12px;
width: 100%;
}

.link-preview-description-paragraph {
  font-size: 14px;
line-height: 18px;
font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
text-align: inherit;
font-weight: inherit;
color: inherit;
margin: 0;
display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


    
}

.link-preview-title {
  text-align: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.link-preview-footer-text {
  font-size: 12px;
font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
text-align: inherit;
font-weight: inherit;
color: inherit;
margin: 0;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.remove-link-button-container {
  flex: 0 0 24px;
  margin-right: 16px;
  margin-left: 8px;
  align-content: center;
  align-items: center;
  display: flex;

}

.remove-link-button {
  position: relative !important;
  top: 50%;
  margin-left: 0;
}

.insert-link-textfield-container {
  display: flex;
  margin-bottom: 16px;
  margin-top: 24px;
}

.insert-link-textfield {
  flex: 1;
  margin-bottom: 0 !important;
  margin-right: 16px !important
  // flex: 0 0 90%;
}

.cancel-insert-link-button-container {
  flex: 0 0 19px;
  // padding: 0
  // flex: 1;

  display: flex;
  // display:inline-block;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 7px;
  // height: fit-content;
  

}

.cancel-insert-link-button {
  font-size: 0.875rem;
  cursor: pointer;
  // color: #909090;
  font-weight: normal !important;
  font-weight: normal
  // text-decoration: none;



}

.cancel-insert-link-button:hover {
  text-decoration: none !important;
  color: #606060;

}

.shimmer {
  border-radius: 0 !important;

}

.shimmer-w-60 {
  border-radius: 0 !important;

  width: 60% !important
}

.shimmer-w-100-h-12 {
  border-radius: 0 !important;

  height: 14px !important;
  margin-bottom: 2px !important
}
.shimmer-w-30-h-8 {
  border-radius: 0 !important;

  width: 30% !important;
  height: 10px !important;
  margin-bottom: 4px !important
}

.shimmer-full-height {
  border-radius: 0 !important;
  width: 100%;
  height: 100% !important;
}

.cancel-insert-link-button-row {
  display: flex;
  justify-content: flex-end;
}

.css-tlfecz-indicatorContainer {
  display: none;
}

.react-select-custom-dropdown{
  position: relative;
    left: 7px;
    color: #757575;
}

.react-select-custom-dropdown:hover {
  cursor: pointer;
}