@font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-Light.ttf");
    font-weight: 300;
    font-style: normal;
  }
  
  @import url(//fonts.googleapis.com/earlyaccess/phetsarath.css);
  
  @font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-Thin.ttf");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Noto Sans Lao UI";
    src: url("../fonts/NotoSansLaoUI-Black.ttf");
    font-weight: 900;
    font-style: normal;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Noto Sans Lao UI, Roboto, Arial, sans-serif;
    color: #404040;
    /* color: #404040; */
    background-color: white;
  }
  
  /* .page_container {
    min-height: 75vh;
    padding-top: 64px;
  } */
  
  .center_vertical_and_horizontal {
    /* position: absolute; */
    /* left: 50%;
       */
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0%);
    min-width: 350px;
    margin-bottom: 60px;
  }
  
  .progress {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input {
    font-family: Roboto, Noto Sans Lao UI, sans-serif !important;    
  }
  
  label {
    font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
  }
  
  span {
    font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
  }

  p {
    font-family: Roboto, Noto Sans Lao UI, sans-serif !important;
  }
  
  #my-pdf {
    width: 100% !important;
    height: auto !important;
  }
  
  .research-card-title {
    max-lines: 2;
  }
  
  .MuiTypography-body1-78 {
    font-size: 1rem !important;
  }
  .MuiTypography-body1-81 {
    font-size: 1rem !important;
  }
  
  .genderLabel .MuiTypography-body1-78 {
    color: rgba(0, 0, 0, 0.54) !important;
  }
  
  #header {
    transition: all 0.15s linear;
  }
  
  #header.active {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 2px 6px 2px rgba(60, 64, 67, 0.149) !important;
  }
  
  .pg-viewer {
    min-width: 0;
  }
  
  .AddResearch-valueContainer-203 {
    padding: 8px;
  }
  .AddResearch-input-526 {
    padding: 8px;
  }
  
  .AddResearch-input-202 {
    min-height: 54px;
  }
  textarea {
    font-family: "Noto Sans Lao UI", sans-serif !important;
  }
  
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  /* 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12) */
  
  .AddResearch-valueContainer-334 {
    padding: 14px;
  }

//   @for $i from 1 through 50000 {
//     .MuiDrawer-paperAnchorDockedLeft-#{$i}{border:0!important;padding-right:16px;}
// }

  $drawerWidth: 240px;
  .main-side-bar {
    width: $drawerWidth;
    flex-shrink: 0;

    // 107

    
  }

  .main-side-bar * {background-color: red}
  
  .MuiInputBase-input-128
    .MuiOutlinedInput-input-472
    .UpdateResearchArea-input-389 {
    padding: 8px;
  }
  
  .UpdateResearchArea-input-389 {
    padding: 8px !important;
  }
  
  .UpdateResearchArea-valueContainer-946 {
    padding: 8px !important;
  }
  
  
  